<nav class="navbar navbar-expand-md navbar-white bg-white">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav col-sm-5">
      <li class="nav-item active">
        <a class="nav-link " href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contato</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://example.com" id="categorias" data-toggle="categorias" aria-haspopup="true" aria-expanded="false">Categorias</a>
        <div class="dropdown-menu" aria-labelledby="categorias">
          <a class="dropdown-item" href="#">Camisas</a>
          <a class="dropdown-item" href="#">Camisetas</a>
          <a class="dropdown-item" href="#">Casacos</a>
        </div>
      </li>
    </ul>
    <div class="navbar-header col-sm-4 justify-content-center align-items-center">
      <img src="assets/img/bergamo.png" class="logo">
    </div>
    <form class="form-inline col-sm-3">
      <input class="form-control col-sm-12" type="text" placeholder="O que você procura?" aria-label="O que você procura?">
    </form>
  </div>
</nav>
<div class="row" style="margin-top: 0.2em; height: 0.5em">
    <div class="col-sm-12" style="background: black; height: 0.1em"></div>    
</div>
<app-vitrine></app-vitrine>
